client/*
powerpc/*
release/*.o
release/*.a
release/*.tar.gz
release/client/*
debug/*.o
debug/*.a
debug/client/*
build/*
src/documents/*
libs/*
*.o
*.exe
*.bmp
*.a
*.d
~*
*~
autom4te.cache/*
not_in_repo/*
rust/target/*
